body{
    margin: 0;
    background-image: url(Group\ 30.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

h1
{
    font-family: 'Brittany Signature Script', sans-serif;
    font-weight: 100;
    color: white;
    margin-bottom: 0;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:230%;
    margin-top: -2%;
    font-weight: 100;
    text-align: center;
}

#grupo-inputs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inputs
{
    background-color: #2E4238;
    width: 220%;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

input{
    padding-left: 10px;
    font-family: "Itim", cursive;
    color: white;
    width: 96%;
    outline: none;
    border-radius: 15px;
    height: 7vh;
    background-color: #7C7979;
}

.input-container {
    background-color: black; /* Cor da borda externa */
    padding: 6px; /* Espaço entre a borda preta e o input */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.input-container2 {
    margin-top: 10px;
    background-color: black; /* Cor da borda externa */
    padding: 6px; /* Espaço entre a borda preta e o input */
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

::placeholder {
    color: white;
    opacity: 1; 
}

#btns a
{
    font-family: "Itim", cursive;
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-weight: 100;
}

#btns
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#btns button
{
    margin-top: 25px;
    font-family: "Itim", cursive;
    font-size: 25px;
    width: 240%;
    height: 50px;
    border-radius: 15px;
    background-color: #89B29E;
    border-color: #89B29E;
    border-style: none;
}

h2
{
    font-family: "Itim", cursive;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}