body{
    margin: 0;
    background-image: url(Group\ 25\ \(1\).png);
    background-repeat: no-repeat;
    
}
main{
    display: flex;
    width: 100%;
}
#principal-esquerda{
    border: solid 1px;
    width: 22%;
    background-repeat: no-repeat;
    background-size:contain;

}
#principal-direita{
    background-color: #2E4238;
    border: solid 1px;
    width: 82%;
    height: 99.75vh;                
}
#principal-direita header{
    font-family: 'Brittany Signature', sans-serif;
    color: white;
    font-size:230%;
    margin-top: -2%;
    font-weight: 100;
    text-align: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grupo-inputs
{
    margin-left: -125px;
    width: 300px;
}

#inputs
{
    background-color: black;
    width: 150%;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}
#espaçamento{
    margin-bottom: 7%;
}
input{
    color: white;
    outline: none;
    border-radius: 15px;
    width: 120%;
    height: 7vh;
    background-color: #7C7979;
}
.input-container {
    background-color: black; /* Cor da borda externa */
    padding: 6px; /* Espaço entre a borda preta e o input */
    display: flex;
    border-radius: 15px;
}
::placeholder {
    color: white;
    opacity: 1; 
  }
